@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar Kustom - Minimalis */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Scrolling Halus Tradisional */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #050505;
  color: #ffffff;
}

/* Sembunyiin scrollbar buat Chrome, Safari sama Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Sembunyiin scrollbar buat IE, Edge sama Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Utilitas Safe Area */
@supports (padding-top: env(safe-area-inset-top)) {
  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }

  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }

  .mt-safe {
    margin-top: env(safe-area-inset-top);
  }

  .mb-safe {
    margin-bottom: env(safe-area-inset-bottom);
  }

  .top-safe {
    top: env(safe-area-inset-top);
  }

  .bottom-safe {
    bottom: env(safe-area-inset-bottom);
  }

  .h-safe-screen {
    height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  }
}

/* Cadangan buat browser yang gak support env() */
.pt-safe {
  padding-top: 0px;
}

.pb-safe {
  padding-bottom: 0px;
}